:root {
  --primary: #1a77fc;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
	color: inherit;
	text-decoration: inherit;
  }
}

.text-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

body {
  background-color: #f3f3f4;
  font-family: 'Poppins', sans-serif;
  font-size: .875rem;
}

#removeAlert {
  position: absolute;
  right: 20px;
  top: 20px;
  white-space: normal;
  width: 350px;
  z-index: 999999;
}

.logo {
  background: #e6eeff;
  -webkit-print-color-adjust: exact;
  border-radius: 50px;
  color: #1a77fc;
  display: grid;
  height: 40px;
  place-content: center;
  width: 200px;
}

.hero_section {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.navbar img {
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.footer {
  color: #444;

  a {
	color: inherit;
	text-decoration: none;
  }
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.nav-dark {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px;
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px;
}

.nav-dark.position-fixed .nav-link {
  color: #fff;

  &.active {
	color: #ffc20b;
  }
}

.title {
  font-family: 'Playfair Display', serif;
}

.full-section {
  min-height: 100vh;
  overflow: hidden;
}

.line-clamp-2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.hero_overlay {
  background-blend-mode: overlay;

  &::before {
	background: rgba(0, 0, 0, .38);
	content: '';
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
  }
}

.dropdown {
  cursor: pointer;
}

.ws_nowrap {
  white-space: nowrap;
}

table {
  font-size: 14px;
}

.sidebar {
  bottom: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  /* rtl:raw:
  right: 0;
  */
  left: 0;
  /* rtl:remove */
  padding: 48px 0 0; /* Height of navbar */
  position: fixed;
  top: 0;
  z-index: 100; /* Behind the navbar */
  @media (max-width: 767.98px) {
	top: 5rem;
  }

  &-sticky {
	height: calc(100vh - 48px);
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	padding-top: .5rem;
	position: relative;
	top: 0;
  }

  & .nav-link {
	color: #333;
	font-weight: 500;

	& .feather {
	  color: #727272;
	  margin-right: 4px;
	}

	&.active {
	  color: #2470dc;
	}

	&:hover,
	&.active {
	  .feather {
		color: inherit;
	  }
	}
  }

  &-heading {
	font-size: .75rem;
	text-transform: uppercase;
  }

}

/*
 * Navbar
 */
#dashboardNav {
  &.navbar-brand {
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
	font-size: 1rem;
	padding-bottom: .75rem;
	padding-top: .75rem;
  }

  &.navbar .navbar-toggler {
	right: 1rem;
	top: .25rem;
  }

  &.navbar .form-control {
	border-radius: 0;
	border-width: 0;
	padding: .75rem 1rem;
  }

}
#sidebarMenu {
  .nav.collapse {
	background-color: #f0f0f0;
  }
}
.form-control-dark {
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
  color: #fff;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.feather {
  width: 16px;
  height: 16px;
}

.vertical-align-middle {
  tr > td {
	vertical-align: middle;
  }
}

.change-img {
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;position: relative;
  text-align: center;

  label {
	background-size: cover;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	height: 17rem;
	overflow: hidden;
	position: relative;
	width: 17rem;

	&:after {
	  background: rgb(0 0 0 / 50%);
	  content: "";
	  height: 100%;
	  left: 0;
	  opacity: 0;
	  position: absolute;
	  top: 0;
	  transition: all 0.2s ease-in-out;

	  width: 100%;

	  :hover > & {
		opacity: 1;
	  }
	}

	i {
	  color: #fff;
	  cursor: pointer;
	  left: 0%;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  transform: translatey(-50%);
	  transition: all 0.2s ease-in-out;
	  width: 100%;
	  z-index: 1;

	  :hover > & {
		opacity: 1;
	  }
	}
  }


  input {
	height: 0;
	opacity: 0;
	user-select: none;
	width: 0;
  }
}

@media print {
  body * {
	visibility: hidden;
  }
  #print_view, #print_view * {
	visibility: visible;
  }
  #print_view {
	position: absolute;
	left: 0;
	top: 0;
  }
  .col-print-1 {width:8%;  float:left;}
  .col-print-2 {width:16%; float:left;}
  .col-print-3 {width:25%; float:left;}
  .col-print-4 {width:33%; float:left;}
  .col-print-5 {width:42%; float:left;}
  .col-print-6 {width:50%; float:left;}
  .col-print-7 {width:58%; float:left;}
  .col-print-8 {width:66%; float:left;}
  .col-print-9 {width:75%; float:left;}
  .col-print-10{width:83%; float:left;}
  .col-print-11{width:92%; float:left;}
  .col-print-12{width:100%; float:left;}
}
