:root {
  --primary: #1a77fc;
}

.text-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.text-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

body {
  font-family: 'Poppins', sans-serif;
}

#removeAlert {
  position: absolute;
  right: 20px;
  top: 20px;
  white-space: normal;
  width: 350px;
}

nav .logo {
  background: #e6eeff;
  border-radius: 50px;
  color: #1a77fc;
  display: grid;
  height: 40px;
  place-content: center;
  width: 200px;
}

.hero_section {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

h6,
p {
  margin: 0;
}


.reg_bg, .login_bg {
  background-size: cover;
  min-height: 100vh;
}

.navbar img {
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.change-img {
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;position: relative;
  text-align: center;

  label {
	background-size: cover;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	height: 17rem;
	overflow: hidden;
	position: relative;
	width: 17rem;

	&:after {
	  background: rgb(0 0 0 / 50%);
	  content: "";
	  height: 100%;
	  left: 0;
	  opacity: 0;
	  position: absolute;
	  top: 0;
	  transition: all 0.2s ease-in-out;

	  width: 100%;

	  :hover > & {
		opacity: 1;
	  }
	}

	i {
	  color: #fff;
	  cursor: pointer;
	  left: 0%;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  transform: translatey(-50%);
	  transition: all 0.2s ease-in-out;
	  width: 100%;
	  z-index: 1;

	  :hover > & {
		opacity: 1;
	  }
	}
  }


  input {
	height: 0;
	opacity: 0;
	user-select: none;
	width: 0;
  }
}

.video_section {
  background-color: var(--primary);
  height: 45vh;
  margin-top: 16vh;
}

.video_thumb {
  display: block;
  background-position: center;
  height: 350px;
  margin-top: -150px;
  max-width: 100%;
  position: relative;
  width: 650px;
}

.play_icon {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-size: 65px;
  height: 100px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 0;

  &::before {
	background-color: #fff;
	border-radius: 50%;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
  }

  &::after {
	animation: wave 1.8s linear infinite;
	background-color: var(--bs-warning);
	border-radius: 50%;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;

	@keyframes wave {
	  from {
		opacity: 0.6;
	  }
	  to {
		transform: scale(4);
		opacity: 0;
	  }
	}
  }
}

.footer{
  color: #444;
  a{
	color: inherit;
	text-decoration: none;
  }
}
.navbar {
  transition: all 0.3s ease-in-out;
}
.nav-dark {
  background-color: rgb(0 0 0 / 10%);
}